<template>
  <div>
    <h1>{{ i18n.get('errors.404.heading') }}</h1>
  </div>
</template>

<script setup>
  import i18n from '/utils/localizations'

  useHead({
    title: i18n.get('errors.404.title'),
    meta: [
      { name: 'description', content: i18n.get('errors.404.description') }
    ],
  })
</script>
