<template>
  <div :lang="`${i18n.getCurrentLang()}`">
    <p style="text-align: right;">
      <NuxtLink :to="`${localeRoutes.login}`">{{ i18n.get('auth.login') }}</NuxtLink>
      <span> / </span>
      <NuxtLink :to="`${localeRoutes.register}`">{{ i18n.get('auth.register') }}</NuxtLink>
    </p>

    <main>
      <slot />
    </main>
  </div>
</template>

<script setup>
  import i18n, { getRoutesForLocale } from '/utils/localizations'

  const { ssrContext } = useNuxtApp()
  const pathname = ssrContext ? ssrContext.url : window.location.pathname

  i18n.setLang(pathname.split('/')[1])

  const localeRoutes = getRoutesForLocale(i18n.getCurrentLang())

  useHead({
    viewport: 'width=device-width, initial-scale=1, maximum-scale=1',
    charset: 'utf-8',
    // TODO: doesn't seem to work :( Have to put on main element...
    htmlAttrs: { lang: i18n.getCurrentLang() }
  })
</script>
