<template>
  <div>
    <h1>{{ i18n.get('home.title') }}</h1>
    <p>{{ i18n.get('home.description') }}</p>
  </div>
</template>

<script setup>
  import i18n from '/utils/localizations'

  useHead({
    title: i18n.get('home.title'),
    meta: [
      { name: 'description', content: i18n.get('home.description') }
    ],
  })
</script>
